.messenger {
  height: calc(100vh - 70px);
  display: flex;
}
.chatmenu {
  flex: 3.5;
}
.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}
.chatBox {
  flex: 5.5;
}
.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chatMessageInput {
  width: 80%;
  height: 50px;
  padding: 10px;
}
.chatSubmitbutto {
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}
.chatOnline {
  flex: 3;
  display: flex;
}
.chatBoxWrapper {
  display: flex;
  flex-direction: column;
}
.chatBoxTop {
  height: 100%;
  overflow: scroll;
  padding-right: 10px;
}
.chatmenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}
